.projectInfoBlock {
  width: 100%;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  :global {
    .ant-typography-edit {
      display: none !important;
    }
  }
}

.subStatus {
  font-size: 14px;
  line-height: 22px;
  font-weight: 450;
  padding: 0 8px;
  color: #30303d;
  background-color: #f9f9fb;
  border: 0.5px solid rgba(97, 97, 122, 0.24);
  border-radius: 6px;
}

.editPencil {
  cursor: pointer;
}
